@font-face {
    font-family:'Ninja Naruto';
    src: url(../font/NinjaNaruto-YOn4.ttf) format('truetype');
}

*{
    font-family: "Ninja Naruto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #FF9900;
    --dark: #0c0c0c;
    --accent: #FFD166;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url("../img/naruto-uzumaki.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* título */

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-wrap: wrap; /* evita estourar a tela */
}

/* card principal */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    gap: 20px;

    background-color: white;
    border-radius: 10px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.3);

    width: 90%;
    max-width: 500px;
}

/* dados personagem */

.personagem_data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #fff;
    background-color: var(--dark);

    padding: 10px;
    border-radius: 10px;

    width: 100%;
    font-size: clamp(16px, 4vw, 30px);
}

/* imagem */

.personagemImg{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: var(--accent);

    padding: 10px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.personagemImg img{
    max-width: 100%;
    height: auto;
}

/* input */

.search_input{
    width: 100%;

    padding: 10px;

    border-radius: 5px;
    border: 2px solid var(--dark);

    font-size: clamp(12px, 3vw, 16px);

    box-shadow: 3px 3px 0 rgb(156,144,144);

    outline: none;

    transition: 0.3s;
}

.search_input:focus{
    border-color: var(--primary);
    box-shadow: 0 0 5px var(--primary);
}

.search_input::placeholder{
    color: var(--dark);
}

/* botões */

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.button{
    padding: 10px 20px;

    background-color: var(--dark);
    color: #fff;

    border-radius: 5px;
    border: 2px solid var(--dark);

    font-size: clamp(12px, 3vw, 16px);

    box-shadow: 3px 3px 0 rgb(156,144,144);

    cursor: pointer;

    transition: 0.2s;
}

.button:hover{
    transform: translateY(-2px);
}

.button:active{
    box-shadow: inset 0 0 5px rgb(156,144,144);
}